<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{block/head :: head}">
<header th:insert="~{block/header :: header}"></header>
<body>
<main>
    <div class="container" >
        <h1 th:if="${user.id == null}">Добавление пользователя</h1>
        <h1 th:if="${user.id != null}">Редактирование пользователя</h1>
        <hr>
        <form class="was-validated"
              th:action="@{/admin/user}"
              th:object="${user}"
              th:if="${user.id == null}"
              method="post">
            <div th:replace="~{block/user-form :: user-form}"></div>
        </form>

        <form th:action="@{/admin/user/{id}(id=${user.id})}"
              th:object="${user}"
              th:if="${user.id != null}"
              method="post">
            <div th:replace="~{block/user-form :: user-form}"></div>
        </form>
    </div>
</main>
</body>
</html>