spring.datasource.url=jdbc:DBMS://url:port/database
spring.datasource.username=username
spring.datasource.password=password

spring.jpa.show-sql=true
spring.jpa.generate-ddl=false
spring.jpa.hibernate.ddl-auto=update