<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text = "${error_code}"></title>
    <link th:href="@{/css/error-style.css}" rel="stylesheet">
</head>
<body>
    <header th:insert="block/header :: header"></header>
    <main>
        <div class="main-div">
            <h1 th:text = "${error_code}"></h1>
            <h2 th:text = "${error_text}"></h2>
            <a th:href="${previous_page}" class="button_link">Вернуться на прудыдущую страницу</a>
        </div>
    </main>
</body>
</html>