<div class="container" th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <p class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            ТМЦ
        </p>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/admin" class="nav-link px-2 link-secondary">Дом</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a type="button" class="btn btn-outline-danger me-2" role="button" href="/logout">Выйти</a>
        </div>
    </header>
</div>