<head th:fragment="head">
    <link rel="icon" type="image/png" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.13.5/css/jquery.dataTables.css}"/>

    <script th:src="@{/webjars/jquery/2.2.4/dist/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.13.5/js/jquery.dataTables.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.js}"></script>

    <link th:href="@{/webjars/bootstrap-multiselect/1.1.1/dist/css/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/bootstrap-multiselect/1.1.1/dist/js/bootstrap-multiselect.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/chart.js/2.7.2/dist/Chart.min.js}"></script>

    <meta charset="UTF-8">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Система ТМЦ</title>

    <style>
        body {
            background-color: #f4f4f4;
            font-size: 14px;
        }

        .modal-content {
            background-color: #f4f4f4;
        }

        h2, h4 {
            font-weight: bold;
        }
        main {
            padding-top:85px;
        }
    </style>
</head>
